.images{
    position: relative;
}

.design{
   position: absolute; 
    margin-top: -31rem;
    padding: 5px;
    color: white;
}
.design h2{
    font-weight: bold;
}
.design P{
    margin-bottom: 0;
}