.banner {
    background-image: url('https://i.ibb.co/StpBBnW/annie-spratt-R3-Lcf-Tvc-GWY-unsplash.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    height:700px;
}
